<div class="text-center">
    <h2 class="p-4">Dashboard</h2>
    <a href="/dashboard/newpost"><button style="background-color:tomato">Create New Fight Post</button></a>
</div>


<div class="text-center">
  <h3 class="p-4">Your Posts</h3>
  <ol>
    {{#each dashPosts as |dashpost|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/editpost/{{id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</div>


