<div class="text-center">
  <h3 class="p-4 mt-4">Posts You Commented</h3>
  <ol>
    {{#each followComment as |post|}}
    <li>
      {{> post-info post}}
      {{!-- <a href="/dashboard/editpost/{{post.id}}" class="edit-link">Edit post</a> --}}
    </li>
    {{/each}}
  </ol>
</div>