 <div class="jumbotron2 jumbotron-fluid text-center">
  <div class="container">
     <h2 class="p-2">
     Posts You Commented
    </h2>
  </div>
</div>

<div class="text-center">
  <ol>
    {{#each followComment as |post|}}
    <li>
      {{> post-info post}}
      {{!-- <a href="/dashboard/editpost/{{post.id}}" class="edit-link">Edit post</a> --}}
    </li>
    {{/each}}
  </ol>
</div>